<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="navbar-collapse-section">
    <ul class="nav navbar-nav navbar-right">
        <li>
            <ul class="nav navbar-nav navbar-left" id="quick-access-icons-list">
                <li>
                    <a href="#"><span class="glyphicon glyphicon-search" tooltip="Search"></span></a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-plus" tooltip="Quick Add"></span></a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-list-alt" tooltip="Rep Toolset"></span></a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-blackboard" tooltip="Recent Items"></span></a>
                </li>
                <li>
                    <a href="#"><span class="glyphicon glyphicon-bell" tooltip="Notifications"></span></a>
                </li>

            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                John Doe
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="dropdown-header">Logged in as : ABC</li>
                <li class="dropdown-header">Proxying : XYZ</li>
                <li class="dropdown-header">Viewing : 123</li>
                <li class="divider"></li>
                <li><a ui-sref="dashboard.edit">Customize Dashboard</a></li>
                <li><a href="#">Site Settings</a></li>
                <li class="divider"></li>
                <li><a href="#">Log Out</a></li>
            </ul>
        </li>
    </ul>
</div>