<header>
    <nav class="navbar navbar-inverse navbar-default navbar-fixed-top navbar-main">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#/dashboard">
                    <img id="logo" class="hidden-xs" width="380" src="../../../img/logo2.png" alt="">
                    <img class="visible-xs" src="../../img/logo-mobile.png" alt="">
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-section">
                    <span class="sr-only ">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div ui-view="header"></div>
        </div>
    </nav>
</header>
<div ui-view="main"></div>
<footer class="footer">
    <div class="container">
        <p class="text-muted text-center" style="vertical-align:middle">Welcome to CLIC.</p>
    </div>
</footer>